body {
  margin: 0;
  padding: 0;
  font-family: Overpass
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #313131;
}
.home-navbar {
  width: 100%;
  height: 14px;
  display: flex;
  max-width: 1414px;
  align-items: center;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: row;
  padding-bottom: 24px;
  justify-content: space-between;
  background-color: #313131;
}
.home-heading {
  color: #D9D9D9;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: #D9D9D9;
  margin-right: 24px;
  text-decoration: none;
}
.home-link1 {
  color: #D9D9D9;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.55;
  margin-right: 24px;
  text-transform: none;
  text-decoration: none;
}
.home-link2 {
  color: #D9D9D9;
  margin-right: 24px;
  text-decoration: none;
}
.home-link3 {
  color: #D9D9D9;
  transition: 0.3s;
  text-decoration: none;
}

.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 24px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link4 {
  margin-bottom: 8px;
}
.home-link5 {
  margin-bottom: 8px;
}
.home-link6 {
  margin-bottom: 8px;
}
.home-container2 {
  width: 100%;
  height: 1173px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}
.home-hero {
  width: 100%;
  height: 454px;
  display: flex;
  position: relative;
  max-width: 1414px;
  margin-top: 40px;
  align-items: center;
  padding-top: 40px;
  padding-left: 24px;
  margin-bottom: 40px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: flex-end;
  background-color: #212121;
}
.home-text {
  top: 0px;
  left: 4500px;
  color: #D9D9D9;
  position: absolute;
}
.home-image {
  width: 365px;
  height: 317px;
  object-fit: cover;
}
.home-hero1 {
  width: 100%;
  height: 489px;
  display: flex;
  position: relative;
  max-width: 1414px;
  margin-top: 40px;
  align-items: center;
  padding-top: 40px;
  padding-left: 24px;
  margin-bottom: 40px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #212121;
}
.home-hero-text-container {
  width: 1143px;
  height: 226px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: #D9D9D9;
  align-self: center;
  margin-bottom: 24px;
}
.home-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-text1 {
  color: #D9D9D9;
  margin-bottom: 40px;
}
.home-link8 {
  width: 443px;
  height: 79px;
  display: flex;
  position: relative;
  flex-direction: row;
  text-decoration: none;
  background-color: #313131;
}
.home-text3 {
  top: 16px;
  left: 0px;
  color: #D9D9D9;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-heading1 {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-image {
    width: 100%;
  }
  .home-hero1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: 32px;
  }
  .home-heading2 {
    text-align: center;
  }
  .home-text1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: 4px;
    margin-left: 24px;
    border-radius: 4px;
    background-color: #D9D9D9;
  }
  .home-icon {
    fill: #FFF;
  }
}
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: 16px;
  }
  .home-hero-text-container {
    width: 100%;
  }
}
