.gallery-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #313131;
}
.gallery-navbar {
  width: 1160px;
  height: 0px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #313131;
}
.gallery-heading {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.gallery-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.gallery-link {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.gallery-link1 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.gallery-link2 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.gallery-link3 {
  color: var(--dl-color-gray-900);
  transition: 0.3s;
  text-decoration: none;
}

.gallery-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-icon {
  width: 36px;
  height: 36px;
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.gallery-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.gallery-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-icon2 {
  width: 24px;
  height: 24px;
}
.gallery-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-container2 {
  width: 100%;
  height: 1284px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}
.gallery-hero-text-container {
  width: 45%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.gallery-heading2 {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gallery-text {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.gallery-hero {
  width: 100%;
  height: 760px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #212121;
}
.gallery-container3 {
  top: 410px;
  left: 0px;
  right: 0px;
  width: 1125px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery-container5 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery-container6 {
  top: 70px;
  left: 0px;
  right: 0px;
  width: 1125px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.gallery-image1 {
  width: 290px;
  align-self: center;
  object-fit: cover;
}
.gallery-image2 {
  width: 290px;
  align-self: center;
  object-fit: cover;
}
.gallery-image3 {
  width: 290px;
  align-self: center;
  object-fit: cover;
}
.gallery-image4 {
  width: 290px;
  align-self: flex-end;
  object-fit: cover;
}
.gallery-image5 {
  width: 290px;
  align-self: flex-end;
  object-fit: cover;
}
.gallery-image6 {
  width: 290px;
  align-self: flex-end;
  object-fit: cover;
}

@media(max-width: 991px) {
  .gallery-heading {
    text-align: center;
  }
  .gallery-heading1 {
    text-align: center;
  }
  .gallery-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .gallery-heading2 {
    text-align: center;
  }
  .gallery-text {
    text-align: center;
  }
  .gallery-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .gallery-navbar {
    position: relative;
  }
  .gallery-links-container {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .gallery-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .gallery-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .gallery-hero-text-container {
    width: 100%;
  }
}
