.ourstaff-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ourstaff-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}
.ourstaff-navbar {
  width: 1160px;
  height: 0px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #313131;
}
.ourstaff-heading {
  text-decoration: none;
}
.ourstaff-text {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.ourstaff-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.ourstaff-link {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.ourstaff-link1 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.ourstaff-link2 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.ourstaff-link3 {
  color: var(--dl-color-gray-900);
  transition: 0.3s;
  text-decoration: none;
}

.ourstaff-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-icon {
  width: 36px;
  height: 36px;
}
.ourstaff-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.ourstaff-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.ourstaff-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-icon2 {
  width: 24px;
  height: 24px;
}
.ourstaff-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.ourstaff-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.ourstaff-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.ourstaff-container2 {
  width: 100%;
  height: 1284px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}
.ourstaff-hero-text-container {
  width: 45%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.ourstaff-heading2 {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.ourstaff-text01 {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.ourstaff-hero {
  width: 100%;
  height: 760px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #212121;
}
.ourstaff-container3 {
  top: 410px;
  left: 0px;
  right: 0px;
  width: 1125px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-text05 {
  color: var(--dl-color-gray-900);
  align-self: center;
}
.ourstaff-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourstaff-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourstaff-image {
  width: 212px;
  object-fit: cover;
}
.ourstaff-text07 {
  font-size: 26px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ourstaff-text08 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.ourstaff-text09 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.ourstaff-text10 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.ourstaff-container6 {
  top: 70px;
  left: 0px;
  right: 0px;
  width: 1125px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ourstaff-text11 {
  color: var(--dl-color-gray-900);
  align-self: center;
}
.ourstaff-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourstaff-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourstaff-image1 {
  width: 212px;
  object-fit: cover;
}
.ourstaff-text12 {
  color: var(--dl-color-gray-900);
  font-size: 26px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ourstaff-text13 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.ourstaff-text14 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.ourstaff-text15 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
@media(max-width: 991px) {
  .ourstaff-heading {
    text-align: center;
  }
  .ourstaff-heading1 {
    text-align: center;
  }
  .ourstaff-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .ourstaff-heading2 {
    text-align: center;
  }
  .ourstaff-text01 {
    text-align: center;
  }
  .ourstaff-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .ourstaff-navbar {
    position: relative;
  }
  .ourstaff-links-container {
    display: none;
  }
  .ourstaff-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .ourstaff-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .ourstaff-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .ourstaff-hero-text-container {
    width: 100%;
  }
}
